<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reservations</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <!-- <div class="modal-body">
    
  </div> -->
  <table class="table striped">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Nomor Kontrak</th>
        <th>Nomor BPKB</th>
        <th>Tipe Kendaraan</th>
        <th>Jadwal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservations">
        <td>{{ r.customer.name }}</td>
        <td>{{ r.nomorKontrak }}</td>
        <td>{{ r.nomorBPKB }}</td>
        <td>{{ r.tipeKendaraan }}</td>
        <td>{{ r.jadwal | date : "medium" }}</td>
      </tr>
    </tbody>
  </table>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-primary" (click)="open(content)">
  Detail Reservations
</button>
