<ng-template #content let-modal>
  <div class="modal-header d-flex gap-4">
    <h4 class="modal-title" id="modal-basic-title">Reservations</h4>
    <div class="form-group w-100">
      <input
        [(ngModel)]="query"
        type="text"
        class="form-control"
        (keydown.enter)="onSearchReservation()"
      />
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <!-- <div class="modal-body">
    
  </div> -->
  <table class="table striped">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Nomor Kontrak</th>
        <th>Nomor BPKB</th>
        <th>Tipe Kendaraan</th>
        <th>Jadwal</th>
        <th>#</th>
      </tr>
    </thead>

    <tbody>
      <app-reservasi-detail></app-reservasi-detail>

      <!-- <tr *ngFor="let r of reservations!.data">
          <td *ngIf="r.customer">{{ r.customer.name }}</td>
          <td *ngIf="!r.customer">No Customer</td>
          <td>{{ r.nomorKontrak }}</td>
          <td>{{ r.nomorBPKB }}</td>
          <td>{{ r.tipeKendaraan }}</td>
          <td>{{ r.jadwal | date : "medium" }}</td>
          <td>
            <button
              (click)="onGetReservation(r); modal.close()"
              class="btn btn-sm btn-primary"
            >
              Pilih
            </button>
          </td>
        </tr> -->
    </tbody>
    <tfoot>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="2"
        [collectionSize]="reservations.items"
        (pageChange)="onPaginateReservation($event)"
      />
    </tfoot>
  </table>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-primary" (click)="open(content)">
  Detail Reservations
</button>
