<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reservasi</h5>
    <div class="row mb-3 mt-3">
      <div class="col">
        <div class="form-group">
          <label>Nomor Kontrak</label>
          <input
            [(ngModel)]="reservasi.nomorKontrak"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Nomor BPKB</label>
          <input
            [(ngModel)]="reservasi.nomorBPKB"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Tipe Kendaraan</label>
          <select [(ngModel)]="reservasi.tipeKendaraan" class="form-control">
            <option [ngValue]="'mobil'">Mobil</option>
            <option [ngValue]="'motor'">Motor</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col">
        <div class="form-group">
          <label>Jadwal</label>
          <input
            [(ngModel)]="reservasi.jadwal"
            type="date"
            class="form-control"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Biaya Real</label>
          <input
            [(ngModel)]="reservasi.real"
            type="number"
            class="form-control"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Biaya Estimasi</label>
          <input
            [(ngModel)]="reservasi.estimasi"
            type="number"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{{ reservasi | json }}
