<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <app-todo></app-todo>
    </div>
    <div class="col-md-4">
      <app-todo [title]="'Trash'" [forTrash]="true"></app-todo>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <app-customer-choice></app-customer-choice>
    </div>
    <div class="col-md-8">
      <app-reservasi-create></app-reservasi-create>
    </div>
  </div>
</div> -->
<app-card>
  <div class="card-body">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="form-group mb-3">
        <label>Name</label>
        <input
          type="text"
          name="name"
          formControlName="name"
          class="form-control"
        />
        <app-message-validation
          [field]="form.get('name')"
          [label]="'name'"
        ></app-message-validation>
      </div>
      <div class="form-group">
        <label>Is Married</label>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isMarried"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            formControlName="gender"
            value="men"
          />
          <label>Men</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            formControlName="gender"
            value="women"
          />
          <label>Women</label>
        </div>
        <app-message-validation
          [field]="form.get('gender')"
          [label]="'gender'"
        ></app-message-validation>
      </div>
      <div class="form-group">
        <label>Hobi</label>
        <select class="form-control" formControlName="hobi">
          <option [ngValue]="null">Pilih Hobimu</option>
          <option *ngFor="let h of listOfHobi" [ngValue]="h.id">
            {{ h.name }}
          </option>
        </select>
        <app-message-validation
          [field]="form.get('hobi')"
          [label]="'hobi'"
        ></app-message-validation>
      </div>
      <h4>Address</h4>
      <div formGroupName="address">
        <div class="form-group mb-3">
          <label>City</label>
          <input type="text" class="form-control" formControlName="city" />
          <app-message-validation
            [field]="form.get('address')?.get('city')"
            [label]="'city'"
          ></app-message-validation>
        </div>

        <div class="form-group mb-3">
          <label>Street</label>
          <textarea class="form-control" formControlName="street"></textarea>
          <app-message-validation
            [field]="form.get('address')?.get('street')"
            [label]="'street'"
          ></app-message-validation>
        </div>

        <div class="form-group mb-3">
          <label>Zip Code</label>
          <input type="text" class="form-control" formControlName="zipCode" />
          <app-message-validation
            [field]="form.get('address')?.get('zipCode')"
            [label]="'zip code'"
          ></app-message-validation>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</app-card>
